site_name: Equinor AppSec
repo_url: https://github.com/equinor/appsec/
site_url: https://equinor.github.io/appsec/
site_author: ISC AppSec, Equinor ASA
site_description: >-
  Guidelines and tutorials related in Application Security in Equinor.

edit_uri: edit/main/docs
copyright: >
  Copyright &copy; Equinor ASA (<a href="https://appsec.equinor.com/about/privacy/" target="_blank">Privacy Policy</a>)
theme:
  name: material
  custom_dir: overrides/
  logo: assets/icons/appsec-icon-white.svg
  favicon: assets/icons/appsec-iconenergyred.svg
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.expand
    - navigation.top
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/equinor
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/EquinorASA
extra_css:
  - assets/css/mkdocs-eq.css
  - https://cdn.eds.equinor.com/font/equinor-font.css
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - admonition
  - toc:
        permalink: true
plugins:
    - search
    - awesome-pages
    - git-revision-date-localized:
        type: date


