mkdocs-material>=8.5.6
mkdocs-techdocs-core>=1.5.4
mkdocs-awesome-pages-plugin>=2.7.0
mkdocs-git-revision-date-localized-plugin>=1.2.1
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability