
name: Azure Static Web Apps CI/CD
permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:    


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with: 
            fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - run: uv sync

      - name: Build site
        run: uv run mkdocs build

      - uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_PEBBLE_09FADDD03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/site"
          skip_app_build: true
