name: Build TechDocs

on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  techdocs:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read


    env:
      STORAGE_ACCOUNT_NAME: ${{ vars.BACKSTAGE_PROD_STORAGE_ACCOUNT_NAME }}
      STORAGE_CONTAINER_NAME: techdocs
      VARIA_ENTITY_KIND: component
      VARIA_ENTITY_NAME: appsec
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js and Python
        uses: actions/setup-node@v6
      
      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        
      - name: Install techdocs-cli
        run: npm install -g @techdocs/cli@1.9.4

      - name: Install mkdocs plugins
        run: uv sync

      - name: Add techdocs-core plugin to mkdocs.yml
        run: |
          sed -i '/- awesome-pages/a\    - techdocs-core' mkdocs.yml

      - name: Generate docs site
        run: |
          uv run techdocs-cli generate --no-docker

      - name: Federated login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ vars.APPSEC_VARIA_CLIENT_ID }}
          tenant-id: ${{ vars.TENANT_ID }}
          subscription-id: ${{ vars.SUBSCRIPTION_ID }}

      - name: Publish to blob storage
        run: |
          npx techdocs-cli publish \
            --publisher-type azureBlobStorage \
            --azureAccountName "$STORAGE_ACCOUNT_NAME" \
            --storage-name "$STORAGE_CONTAINER_NAME" \
            --entity "default/$VARIA_ENTITY_KIND/$VARIA_ENTITY_NAME"