name: gh-pages
permissions:
  contents: write
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with: 
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - run: uv sync
      - run: uv run mkdocs gh-deploy --force