name: gh-pages
permissions:
  contents: write
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with: 
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@ved21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - run: uv sync
      - run: uv run mkdocs gh-deploy --force